@media screen and (max-width: 600px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {

    .topper {
        min-height: 60vh;
        display: flex;
       flex-direction: column;
       gap: 10px;
    }


     .coleccion > .aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 1;
        visibility: hidden;
        transition: .2s;
    }  
   

    .coleccion > .aside-visible {
        opacity: 1;
        visibility: visible;
        z-index: 0;
        background: rgb(66,61,135);
        background: linear-gradient(90deg, rgba(66,61,135,1) 1%, rgba(35,133,107,0.9501050420168067) 23%, rgba(25,177,208,1) 72%);
        opacity: 0.9;
        border-radius: 1rem;

    }

    /* .coleccion > .aside {
        padding: 1rem;
        color: var(--color-letras);
        position: sticky;
        top: 0;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 0px;
    
    } */

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    
   
     

    
       .fixed_img {
        
        background-image: url(../images/background/fixed-background.webp);
        height: 100%;
        background-size: cover;
        border-radius: 1rem;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
     
     }
 
    
    .coleccion > .productos {
        display: flex;
        grid-template-columns: repeat(1, 1fr);
        width: 150%;
        flex-direction: column;
        padding: 0.5rem;


    }
    .coleccion > .productos > .elemento {
        padding: 5px;
    }
    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        row-gap: 1rem;
        height: 100%;
    }
    
    .informacion > .productos {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .informacion > .productos > .elemento {
        width: 90%;
        margin: auto;
    }
    .volver {
        display:block ;
    }
    .spacer {
        display: none;
    }
    .carrito {
        grid-template-columns: 1fr;
    }
    .contenedor_carrito  {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .carrito-producto {
        padding: 0.2rem;
    }

    
}
@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}

