:root {
    /* --color-fondo: #015959;
    --color-secundario: #146B6B;
    --color-terciario: #146B6B;
    /* --color-fondo: #579292; */
    --color-letras: #83A5A5;
    font-family: "Share Tech Mono", monospace;

    --color-fondo: #B8E2C8;
    --color-secundario: #F4AFAB;
    --color-terciario: #3685B5;
    --color-primario: #0471A6;
    --color-letras: #0C120C;
    

}

body {
    color: var(--color-letras);
   background-color: var(--color-fondo);
    background-size: 100% auto; /* Ancho al 100%, alto automático */
    background-repeat: repeat; /* Repetir la imagen verticalmente */
    background-position: center; /* Centra la imagen horizontalmente */
    max-width: 100%;
    
}

.send_banner {
    background: rgb(66,61,135);
    background: linear-gradient(90deg, rgba(66,61,135,1) 1%, rgba(35,133,107,0.9501050420168067) 23%, rgba(25,177,208,1) 72%);
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 1rem;
    opacity: 0.7;
}

.topper {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    padding: 10px 0px;
   
}

.topper > .center_column {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    margin-left: auto;
}
.topper > .left_column img {
    
    width: 100%;
    border-radius: 120px;
}

.topper > .right_column {
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: space-around;
}

.fixed_img {
   height: 500px;
   background-image: url(../images/background/fixed-background.webp);
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   border-radius: 1rem;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;

}

.fixed_img h1 {
    display: flex;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 15vh;
    box-sizing: 1px;
    background-color: none;
    opacity: 0.8;
    border: 3px double blue;
    border-radius: 5px;
}

.footer {
    height: 1500px;
}

/* main h2 {
    width: 100%;
    padding: 50px;
} */
.coleccion {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    
}
.coleccion > .aside {
    padding: 1rem;
    color: var(--color-letras);
    position: sticky;
    top: 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0px;

}
.coleccion > .aside a {
    width: 100%;
    
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100vh;
}
.boton-menu {
    background-color: var(--color-fondo);
    font-size: 1rem;
    cursor: pointer;
    border:none;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    background: rgb(66,61,135);
    background: linear-gradient(270deg, rgba(66,61,135,1) 1%, rgba(35,133,107,0.9501050420168067) 23%, rgba(25,177,208,1) 72%);
    opacity: 0.9;

    
    
}
.boton-menu:hover {
    background-color: var(--color-primario);
    color: white;
    
}

.boton-menu.active {
    background-color: var(--color-primario);
    padding-right: 0px;
    position: relative;
    border: none;
    color: white;
}
.boton-menu.active::before  {
    content:'';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: -2px;
    border-bottom-right-radius: .5rem;
    /* box-shadow: 0 1rem 0 var(--color-primario); */

}
.boton-menu.active::after  {
    content:'';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: -2px;
    border-top-right-radius: .5rem;
    /* box-shadow: 0 -1rem 0 var(--color-primario); */

}
.boton-carrito {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    background-color: var(--color-primario);
    color:white;
}
.numerito {
    background-color: white;
    color: var(--color-primario);
    padding: 0 0.25rem;
    border-radius: 0.25rem;
}
/* .boton-menu i{
    transform: rotateZ(100deg);
} */
ul {
    list-style-type: none;
    padding: 0px;
}

.coleccion > .productos {
    
    display: grid;
    width: 95%;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px;
    border-radius: 20px;
    padding: 2rem;
    background: rgb(66,61,135);
    background: linear-gradient(90deg, rgba(66,61,135,1) 1%, rgba(35,133,107,0.9501050420168067) 23%, rgba(25,177,208,1) 72%);
    opacity: 0.9;

     
    
}
.coleccion > .productos > .elemento img {
    max-width: 100%; 
    border-radius: 5px;
}

.coleccion > .productos > .elemento img:hover {
    transform: scale(1.1);
}

.coleccion > .productos > .elemento {
    /* border: 3px double blue; */
    margin: 30px;
    padding: 20px;
    border: 4px double var(--color-secundario);
    background-color: var(--color-primario);
    border-radius: 1rem;

}
.coleccion > .productos > .elemento h2 {
    font-size: 0.5rem;
}
.coleccion > .productos > .elemento h1 {
    font-size: 1rem;
}

.precio_producto {
    margin-top: auto;
}

.precio_producto > .agregar {
    display: flex;
    align-items: center;

} 
.precio_producto > .agregar button {
    width: 120%;
    padding: 5px;
    background-color: var(--color-terciario);
    padding: 10px;
    border-radius: 10px;
    margin-top: auto;
    font-family: "Share Tech Mono", monospace;
    font-weight: bold;

}
.precio_producto > .agregar button:hover {
    cursor: pointer;
    background-color: lightblue;
    border: 2px double;
/* .precio_producto > .sumar-restar h1 {
    height: 70%;
    padding: 0px 10px;
} */
}
.coleccion > .productos > .elemento h1 {
    font-size: 1rem; 
}

.coleccion > .productos > .elemento h2 {
    font-size: 0.5rem;
}

.contacto_footer {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: auto;

}
.contacto_footer > .titulo {
    font-size: 3rem;
    margin-bottom: 20px;
}

.contacto > .email input {
    width: 400px;
    height: 60px;
    border: 0px;
    padding: 2px;
    font-size: 1.2rem;
}
.contacto > .email button {
    width: 40px;
    height: 60px;
    padding: 2px;

}
.contenedor_carrito {
    background-color: var(--color-primario);
    border-radius: 2rem;
    font-size: .75rem;
    
}
.carrito-producto-imagen {
    width: 6rem;
    border-radius: 1rem;
}
.carrito-producto {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-terciario);
    margin: 5px;
    width: 100%;
    border-radius: 15px;
    align-items: center;
    
}
.center_column  a{
    text-decoration: none;
    color: var(--color-letras)
}

.carrito-productos {
    background-color: var(--color-primario);
    border-radius: 1rem;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.carrito-producto small {
    font-size: 0.75rem;
}
.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: rgb(107, 8, 8);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primario);
    /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
    height: 5rem;
    border-radius: 1rem;
}

.carrito-acciones > .carrito-acciones-izquierda {
    background-color: var(--color-terciario);
    /* padding: 20px; */
    border-radius: 10px;
}

.carrito-acciones > .carrito-acciones-derecha {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    background-color: var(--color-terciario);
    border-radius: 10px;
    padding-left:1rem;
}

.carrito-acciones > .carrito-acciones-derecha > .carrito-acciones-total {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.accion-comprar-carrito {
    border:0;
    background-color: var(--color-fondo);
    padding: 1rem;
    border-radius: 1rem;
    color:var(--color-letras);
    text-transform: uppercase;
    cursor:pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
}
.accion-vaciar-carrito {
    border:0;
    background-color: var(--color-fondo);
    padding: 1rem;
    border-radius: 1rem;
    color:var(--color-letras);
    text-transform: uppercase;
    cursor:pointer;
}
.carrito-vacio,
.carrito-comprado {
    color: var(--color-letras);
}
.disabled {
    display: none;
}

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    justify-content: center;
    margin: auto;
    
}
.informacion > .productos {
    background-color: var(--color-secundario);
    display: flex;
    gap: 5rem;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    gap: 10rem;
    border-radius: 15px;    
    padding: 50px 10px;
    background: rgb(66,61,135);
    background: linear-gradient(144deg, rgba(66,61,135,1) 1%, rgba(35,133,107,0.9501050420168067) 23%, rgba(25,177,208,1) 72%);
    opacity: 0.9;
    border: 4px double var(--color-secundario);
    border-radius: 1rem;

}
.informacion > .productos > .elemento {
    display: flex;
    flex-direction: column;
    width: 30vh;
    border: 4px double var(--color-secundario);
    padding: 10px;
    border-radius: 1rem;
}
.informacion > .productos > .elemento img {
    width:100%;
    border-radius: 15px;
    
}
.informacion > .productos > .elemento h1 {
    font-size: 1rem;
}
.informacion > .productos > .elemento h2 {
    font-size: 0.5rem;
}