:root {
    --color-fondo: #015959;
    --color-secundario: #146B6B;
    --color-terciario: #146B6B;
    /* --color-fondo: #579292; */
    --color-letras: #83A5A5;
}

body {
    font-family: "Share Tech Mono", monospace;
    background-color: var(--color-fondo);
    color: var(--color-letras)
}

.send_banner {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.topper {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    background-color: var(--color-fondo);
    padding: 10px 0px;
   
}

.topper > .center_column {
    display: flex;
    justify-content: space-around;
    margin-right: 50%;
    align-items: center;
    font-size: 1.5rem;
}
.topper > .left_column img {
    
    width: 100%;
    border-radius: 120px;
}

.topper > .right_column {
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: space-around;
}

.fixed_img {
   height: 500px;
   background-image: url(../images/background/fixed-background.webp);
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;

}

.fixed_img h1 {
    display: flex;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 15vh;
    box-sizing: 1px;
    background-color: none;
    opacity: 0.8;
    border: 3px double blue;
    border-radius: 5px;
}

.footer {
    height: 1500px;;
}

.coleccion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px;
    
}
.coleccion > .titulo {
    font-size: 3rem;
    justify-content: center;
}
.coleccion > .productos {
    
    display: grid;
    width: 100%;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding: 50px;
    
   
    
}
.coleccion > .productos > .elemento img {
    width: 100%; 
    border-radius: 5px;;
}

.coleccion > .productos > .elemento img:hover {
    transform: scale(1.1);
}

.coleccion > .productos > .elemento {
    /* border: 3px double blue; */
    margin: 30px;
    padding: 20px;
    border: 4px double var(--color-secundario);
}

.precio_producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.precio_producto > .cesta {
    display: flex;
    align-items: center;
}
.precio_producto > .cesta button {
    height: 70%;
    width: 2rem;
    padding: 5px;
}
.precio_producto > .cesta h1 {
    height: 70%;
    padding: 0px 10px;
}

.coleccion > .productos > .elemento h1 {
    font-size: 1.5rem;;   
}

.coleccion > .productos > .elemento h2 {
    font-size: 1rem;
}

.contacto {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin: auto;

}
.contacto > .titulo {
    font-size: 3rem;
    margin-bottom: 20px;
}

.contacto > .email input {
    width: 400px;
    height: 60px;
    border: 0px;
    padding: 2px;
    font-size: 1.2rem;
}
.contacto > .email button {
    width: 40px;
    height: 60px;
    padding: 2px;

}